/* Estilo Index */
.bodyIndex {
  background-image: url(../images/pexels-nout-gons-378570.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bodyIndex .headerIndex, .bodyIndex .footerIndexContainer {
  display: none;
}
.mainIndex {
  width: 100vw;
  height: 100vh;
  /* Responsivo */
}
.mainIndex .sectionLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.mainIndex .sectionLeftSide .leftSide--logo:hover {
  content: url(../images/logo_size_invert.jpg);
}
@media (max-device-width: 768px) {
  .mainIndex .sectionLeftSide {
    height: 20vh;
  }
  .mainIndex .sectionRightSide {
    height: 80vh;
  }
  .mainIndex .menuIndex {
    height: auto;
    padding: 2rem;
  }
  .mainIndex .itemsIndex {
    margin: 1rem;
  }
}

.menuIndex {
  height: 100vh;
  text-align: center;
}
.menuIndex li {
  width: 10rem;
}
.menuIndex li a {
  height: 3rem;
}
.menuIndex li a:hover {
  box-shadow: inset 0.5rem 0.5rem 1.5rem #05104b;
}

.empresa--vehiculo {
  background-image: url(../images/vehiculo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.empresa--empleados {
  background-image: url(../images/empleados.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.empresa--robo {
  background-image: url(../images/robo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Estilo en Nav no Index */
.logo_nav {
  width: 300px;
  height: auto;
  border-radius: 3rem;
}
.logo_nav:hover {
  content: url(../images/logo_size_invert.jpg);
}

.headerNoIndex {
  box-shadow: 1rem 0rem 2rem rgba(0, 0, 139, 0.5);
}

@media (max-device-width: 900px) {
  .logo_nav {
    width: 300px;
    height: auto;
    border-radius: 15rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Carrusel */
.contenedorCarrusel {
  height: 8rem;
}

#carrusel {
  height: 5rem;
  padding: 0rem 3rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(100%);
  filter: opacity(20%);
}
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
  filter: opacity(100%);
  filter: invert(100%);
}

.carousel-indicators {
  filter: opacity(20%);
  filter: invert(70%);
  margin-bottom: 0;
}

.imagenes {
  padding-top: 8rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
}

.marcoSalud {
  background-size: cover;
  background-image: url(../images/Salud.jpg);
  box-shadow: 0.5rem 1rem 0.5rem grey;
  padding-top: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  width: 20vw;
  height: 300px;
  text-align: center;
  line-height: 1.6;
}
.marcoSalud:hover {
  box-shadow: 0 0 0rem grey;
}

.marcoSeguros {
  background-size: cover;
  background-image: url(../images/Seguros.jpg);
  box-shadow: 0.5rem 1rem 0.5rem grey;
  padding-top: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  width: 20vw;
  height: 300px;
  text-align: center;
  line-height: 1.6;
}
.marcoSeguros:hover {
  box-shadow: 0 0 0rem grey;
}

.titulos {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 6rem;
  color: black;
  text-decoration: none;
  display: block;
  height: 100%;
  transform: translateY(11rem);
  transition: all 1s ease;
}
.titulos:hover {
  text-decoration: none;
  transform: translatey(0);
}

.main__noindex {
  padding-bottom: 6rem;
}

.footerNoIndex {
  z-index: 1;
  box-shadow: -1rem 0rem 2rem rgba(0, 0, 139, 0.5);
}

.checkForm {
  padding-left: 3rem;
}

.animImage {
  animation-name: imagen;
  animation-duration: 2s;
  opacity: 100%;
  filter: grayscale(100%);
}
.animImage:hover {
  filter: none;
}

@keyframes imagen {
  0% {
    opacity: 0%;
    position: relative;
    top: 200px;
  }
  25% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
    position: relative;
    top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
