@charset "UTF-8";

/* Estilos para index.html */

.bodyIndex {
    background-image: url(../images/fondoIndex.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyIndex .headerIndex,
.bodyIndex .footerIndexContainer {
    display: none;
}

.mainIndex {
    width: 100vw;
    height: 100vh;
}

.mainIndex .sectionLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}


/* Alternancia del logo en Index al pasar raton */

.mainIndex .sectionLeftSide .leftSide--logo:hover {
    content: url(../images/logoAzul.jpg);
}


/* Index Responsivo */

@media (max-device-width: 768px) {
    .mainIndex .sectionLeftSide {
        height: 20vh;
    }
    .mainIndex .sectionRightSide {
        height: 80vh;
    }
    .mainIndex .menuIndex {
        height: auto;
        padding: 2rem;
    }
    .mainIndex .itemsIndex {
        margin: 1rem;
    }
}


/* Ítems del menu index (lado derecho) */

.menuIndex {
    height: 100vh;
    text-align: center;
}

.menuIndex li {
    width: 10rem;
}

.menuIndex li a {
    height: 3rem;
}

.menuIndex li a:hover {
    box-shadow: inset 0.5rem 0.5rem 1.5rem #05104b;
}


/* Estilos en página empresas.html */


/* Acomodo de imágenes para texto de beneficios para empresas */

.empresa--vehiculo {
    background-image: url(../images/vehiculo.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.empresa--empleados {
    background-image: url(../images/empleados.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

.empresa--robo {
    background-image: url(../images/robo.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}


/* Estilo en navbar */

.logo_nav {
    width: 300px;
    height: auto;
    border-radius: 3rem;
}


/* Alternancia del logo al pasar raton */

.logo_nav:hover {
    content: url(../images/logoAzul.jpg);
}


/* Forma del header para cualquier página, menos Index.html */

.headerNoIndex {
    box-shadow: 1rem 0rem 2rem rgba(0, 0, 139, 0.5);
}

@media (max-device-width: 900px) {
    .logo_nav {
        width: 300px;
        height: auto;
        border-radius: 15rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Carrusel */

.contenedorCarrusel {
    height: 8rem;
}

#carrusel {
    height: 5rem;
    padding: 0rem 3rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(100%);
    filter: opacity(20%);
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    filter: opacity(100%);
    filter: invert(100%);
}

.carousel-indicators {
    filter: opacity(20%);
    filter: invert(70%);
    margin-bottom: 0;
}


/* Estilos aplicados a la página servicios.html */


/* Definición de forma y fondo para las cards */

.marcoSalud {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Salud.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoSalud:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoSalud:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalSalud:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoAsalariado {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Asalariado.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoAsalariado:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoAsalariado:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalAsalariado:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoAutonomo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Autonomo.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoAutonomo:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoAutonomo:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalAutonomo:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoMonotributo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Monotributo.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoMonotributo:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoMonotributo:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalMonotributo:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoJovenes {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Jovenes.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoJovenes:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoJovenes:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalJovenes:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoVida {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Vida.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoVida:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoVida:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalVida:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoHogar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Hogar.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoHogar:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoHogar:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalHogar:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoComercio {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Comercio.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoComercio:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoComercio:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalComercio:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoAutomotor {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Automotor.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoAutomotor:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoAutomotor:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalAutomotor:target {
    opacity: 1;
    pointer-events: auto;
}

.marcoAccidente {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/Accidente.jpg);
    box-shadow: 0.5rem 0.5rem 1rem #8ecae6;
    padding-top: 4rem;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 1.6;
}

.marcoAccidente:hover {
    box-shadow: 0 0 0rem grey;
}


/* Transformación en titulos de las cards */

.marcoAccidente:hover .titulos {
    text-decoration: none;
    transform: translatey(7rem);
}


/* Definición de modales con variables */

#modalAccidente:target {
    opacity: 1;
    pointer-events: auto;
}


/* Estilo de titulos de las cards */

.titulos {
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 6rem;
    color: black;
    text-decoration: none;
    display: block;
    height: 180px;
    transform: translateY(12rem);
    transition: all 1s ease;
}

.tituloSection {
    background: linear-gradient(180deg, #219ebc, white);
    text-align: center;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.tituloSection h1 {
    color: white;
}

.tituloSection h5 {
    color: #023047;
}

.contenedorSalud {
    padding-bottom: 4rem;
}


/* Estilos de modales */

.modal-contenido {
    background-color: #023047;
    color: white;
    width: 400px;
    padding: 10px 20px;
    margin: 10% auto;
    position: relative;
}


/* Responsive Modal*/

@media (max-device-width: 768px) {
    .modal-contenido {
        margin-top: 100px;
        width: 80vw;
        height: auto;
    }
}

.miModal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.main__noindex {
    padding-bottom: 6rem;
}

.footerNoIndex {
    z-index: 1;
    box-shadow: -1rem 0rem 2rem rgba(0, 0, 139, 0.5);
}

.checkForm {
    padding-left: 3rem;
}

.animImage {
    animation-name: imagen;
    animation-duration: 2s;
    opacity: 100%;
    filter: grayscale(100%);
}

.animImage:hover {
    filter: none;
}

@keyframes imagen {
    0% {
        opacity: 0%;
        position: relative;
        top: 200px;
    }
    25% {
        opacity: 25%;
    }
    100% {
        opacity: 100%;
        position: relative;
        top: 0px;
    }
}


/*# sourceMappingURL=style.css.map */