/* Carrusel */

.contenedorCarrusel {
    height: 8rem;
}

#carrusel {
    height: 5rem;
    padding: 0rem 3rem;
}

.carousel-control-next-icon {
    filter: invert(100%);
    filter: opacity(20%);
    &:hover {
        filter: opacity(100%);
        filter: invert(100%);
    }
}

.carousel-control-prev-icon {
    @extend .carousel-control-next-icon;
}

.carousel-indicators {
    filter: opacity(20%);
    filter: invert(70%);
    margin-bottom: 0;
}