@each $benef in vehiculo,
empleados,
robo {
    .empresa--#{$benef} {
        background-image: url(../images/#{$benef}.jpg);
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
    }
}