/* Estilo Index */

.bodyIndex {
    background-image: url(/images/pexels-nout-gons-378570.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .headerIndex {
        display: none;
    }
    .footerIndexContainer {
        @extend .headerIndex;
    }
}

.mainIndex {
    width: 100vw;
    height: 100vh;
    .sectionLeftSide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        .leftSide--logo:hover {
            content: url(../images/logo_size_invert.jpg);
        }
    }
    /* Responsivo */
    @media (max-device-width: 768px) {
        .sectionLeftSide {
            height: 20vh;
        }
        .sectionRightSide {
            height: 80vh;
        }
        .menuIndex {
            height: auto;
            padding: 2rem;
        }
        .itemsIndex {
            margin: 1rem;
        }
    }
}

.menuIndex {
    height: 100vh;
    text-align: center;
    li {
        width: 10rem;
        a {
            height: 3rem;
            &:hover {
                box-shadow: inset 0.5rem 0.5rem 1.5rem rgb(5, 16, 75);
            }
        }
    }
}