@import "index";
@import "empresas";
@import "navbar";
@import "general";
@import "carrusel";
@import "servicios";
@import "myvariables";
.main__noindex {
    padding-bottom: 6rem;
}

.footerNoIndex {
    z-index: 1;
    box-shadow: -1rem 0rem 2rem rgba(0, 0, 139, 0.5);
}

.checkForm {
    padding-left: 3rem;
}

.animImage {
    animation-name: imagen;
    animation-duration: 2s;
    opacity: 100%;
    filter: grayscale(100%);
    &:hover {
        filter: none;
    }
}

@keyframes imagen {
    0% {
        opacity: 0%;
        position: relative;
        top: 200px;
    }
    25% {
        opacity: 25%;
    }
    100% {
        opacity: 100%;
        position: relative;
        top: 0px;
    }
}